{% extends "base.html" %}

{% block content%}
<h1>Bracelets & Necklace</h1>
{% block images%}
<img src="{{ url_for ('static',filename='/images/bracelet.jpg/')}}">
<img src="{{ url_for ('static',filename='/images/bracelet2.jpg/')}}" width='224' height='225 '>
<img src="{{ url_for ('static',filename='/images/bracelet6.jpg/')}}"width='224' height='225 '>
<img src="{{ url_for ('static',filename='/images/bracelet3.jpg/')}}" width='224' height='225 '>
<img src="{{ url_for ('static',filename='/images/necklace1.jpg/')}}" width='224' height='225 '>
<img src="{{ url_for ('static',filename='/images/bracelet4.jpg/')}}" width='224' height='225 '>
{% endblock %}
{% endblock %}


<hr>